body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #1f1e1e;  
    }
h1 {
    font-size: 70px;
    color: #469ec1;
    }
h2 {
    font-size: 50px;
    color: #41809c;
   }
p {
   font-size: 40px;
    line-height: 1.6;
    color: #ae59b6;
}
img{
    border-radius: 50%;
    height: 400px;
    width: 400px;
    float: left;
    }
.hover-img {
    transition: 
        transform 0.25s ease,
        box-shadow 0.25s ease;
    }
.hover-img:hover {
    transform: translateY(-8px) translateX(8px);
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.25);
    }
.social-icon {
    width: 100px;      
    height: 100px;
    transition: transform 0.3s ease;
    padding: auto 20px;
    }
.social-icon:hover {
    transform: scale(1.2);
    }
div.education {
    text-align: center;
    }
ul.myUL {
    display: inline-block;
    text-align: left;
    font-size: 40px;
    color: #ae59b6;
    line-height: 100px;
    }

